
/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Define root variables for easy theming */
:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-color: #f8f9fa;
  --text-color: #212529;
}

/* Apply global styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
}

/* Style links */
a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Style buttons */
button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: darken(var(--primary-color), 10%);
}

/* Style headers */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  color: var(--text-color);
}

/* Style containers */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.input-small {
  width: 100px; /* Adjust the width as needed */
}
/* spinner */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#spinner {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  align-items: center;
  justify-content: center;
}

#spinner div {
  width: 40px;
  height: 40px;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

#spinner p {
  color: white;
  font-size: 18px;
  margin-top: 10px;
}
