apiVersion: apps/v1
kind: Deployment
metadata:
  name: find-teachers-for-research-maintenance
  labels:
    app: find-teachers-for-research-maintenance
spec:
  replicas: 2
  selector:
    matchLabels:
      app: find-teachers-for-research-maintenance
  template:
    metadata:
      labels:
        app: find-teachers-for-research-maintenance
    spec:
      nodeSelector:
        teacherservices.cloud/node_pool: applications
        kubernetes.io/os: linux
      containers:
      - name: find-teachers-for-research-maintenance
        image: https://github.com/DFE-Digital/Find-Teachers-For-Research-maintenance:#MAINTENANCE_IMAGE_TAG#
        securityContext:
          allowPrivilegeEscalation: false
          runAsNonRoot: true
        ports:
        - containerPort: 8080
        resources:
          requests:
            memory: 64M
            cpu: 0.1
          limits:
            memory: 64M
            cpu: 1
